ledonoff.json
[
    {
        "id": "8cebe69f.7a6dc8",
        "type": "tab",
        "label": "流程12",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c83a5aee.77b648",
        "type": "http in",
        "z": "8cebe69f.7a6dc8",
        "name": "",
        "url": "/setgpio5",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 680,
        "wires": [
            [
                "33a8fee3.9840c2",
                "eddf63cf.0da2e"
            ]
        ]
    },
    {
        "id": "33a8fee3.9840c2",
        "type": "function",
        "z": "8cebe69f.7a6dc8",
        "name": "Set to 1",
        "func": "msg.payload = 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 680,
        "wires": [
            [
                "572c7311.dbf32c"
            ]
        ]
    },
    {
        "id": "572c7311.dbf32c",
        "type": "rpi-gpio out",
        "z": "8cebe69f.7a6dc8",
        "name": "",
        "pin": "29",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 500,
        "y": 760,
        "wires": []
    },
    {
        "id": "3b062e0e.1c6bd2",
        "type": "function",
        "z": "8cebe69f.7a6dc8",
        "name": "Return Status",
        "func": "msg.payload = \"GPIO5 set to LOW\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 920,
        "wires": [
            [
                "c2b791b3.5bd46",
                "e50df971.0f7168"
            ]
        ]
    },
    {
        "id": "e50df971.0f7168",
        "type": "http response",
        "z": "8cebe69f.7a6dc8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 620,
        "wires": []
    },
    {
        "id": "c2b791b3.5bd46",
        "type": "debug",
        "z": "8cebe69f.7a6dc8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 790,
        "y": 840,
        "wires": []
    },
    {
        "id": "2bfff08a.8288a",
        "type": "http in",
        "z": "8cebe69f.7a6dc8",
        "name": "Clear GPIO5",
        "url": "/clear5",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 840,
        "wires": [
            [
                "5a2ce804.d35708",
                "3b062e0e.1c6bd2"
            ]
        ]
    },
    {
        "id": "5a2ce804.d35708",
        "type": "function",
        "z": "8cebe69f.7a6dc8",
        "name": "Clear to 0",
        "func": "msg.payload = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 840,
        "wires": [
            [
                "572c7311.dbf32c"
            ]
        ]
    },
    {
        "id": "eddf63cf.0da2e",
        "type": "function",
        "z": "8cebe69f.7a6dc8",
        "name": "Return Status",
        "func": "msg.payload = \"GPIO5 set to HIGH\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 620,
        "wires": [
            [
                "e50df971.0f7168",
                "c2b791b3.5bd46"
            ]
        ]
    }
]
